@import url('./_variables.css');





html {
    font-family: var(--font-type);
    color: var(--text-color);
    letter-spacing: var(--letter-spacing);

    overflow-x: hidden;
}


.imgVis {
    opacity: var(--hide-image);
}
    

::-webkit-scrollbar {
    width: 0.5em;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #82b2fc; 
    border-radius: 4px; 
}
  
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}


body {
    background: var(--base-color);
}


.container {
    max-width: 1440px;
    min-width: 320px;

    padding: 0 125px;
    margin: 0 auto;
}


.overlay {
    position: fixed;
    z-index: -1;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.75);

    cursor: pointer;

    opacity: 0;

    transition: opacity 0.3s ease; 
}


.overlay--show {
    opacity: 1;
    z-index: 1;
}

.overlay--showww {
    opacity: 1;
    z-index: 98;
}


.title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.3;

    margin-bottom: 30px;
}


.grayBg {
    background: var(--secondary-color);

    padding: 50px 0;
}

@media (max-width: 1450px) {
    .container {
        max-width: 1440px;
        padding: 0 50px;
        margin: 0 auto;
    }
}


@media (max-width: 1100px) {
    .container {
        max-width: 1440px;
        padding: 0 25px;
        margin: 0 auto;
    }
}


@media (max-width: 1033px) {
    .overlay--show {
        z-index: 9;
    }
}


@media (max-width: 800px) {
    .grayBg {
        padding: 25px 0;
    }
}


/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    position: relative;
    z-index: 2;
}


.headerWrapper {
    background: var(--secondary-color);
    height: 300px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    z-index: 2;
}


.headerText {
    font-size: 36px;
    font-weight: 600;

    max-width: 687px;

    line-height: 1.3;
}


.headerIconWrapper {
    margin-left: -200px;
}


.mobileHeader {
    background: var(--secondary-color);
    padding-top: 20px;

    display: none;
}


.mobileHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.headerBtnsWrapper {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}


.headerBtn {
    padding: 7px 20px;

    background: var(--accent-color);
    font-weight: 500;
    border-radius: 5px;
    
    color: white;
    font-size: 16px;
    
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.headerBtn:hover {
    background: var(--hover-accent);
}


.headerItem {
    font-weight: 500;
    font-size: 16px;

    transition: all 0.1s ease-in-out;
}


.headerItem:hover {
    color: #505050;
}


.emblemWrapper {
    opacity: var(--opacity-gerb);
}


@media (max-width: 1450px) {
    .headerIconWrapper {
        display: none;
    }
}

@media (max-width: 1033px) {
    .emblemWrapper {
        display: none;
    }

    
    .headerWrapper {
        height: 200px;
    }


    .headerText {
        font-size: 32px;
    }


    .mobileHeader {
        display: block;
    }
}


@media (max-width: 800px) {
    .headerText {
        font-size: 26px;
    }

    .headerWrapper {
        height: 150px;
    }
}


@media (max-width: 480px) {
    .headerText {
        font-size: 20px;
    }

    .headerWrapper {
        height: 125px;
    }
}


@media (max-width: 400px) {
    .headerText {
        font-size: 18px;
    }

    .headerBtn {
        padding: 3px 10px;
        font-size: 14px;
    }

    .headerItem {
        font-size: 14px;
    }
}
/* ./Header */



/* Menu */
.menu {
    background: var(--accent-color);
    height: 50px;

    box-shadow: 0px 4px 23px 2px rgba(0, 0, 0, 0.25);

    position: relative;
    z-index: 2;
}


.menuWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_item {
    color: white;
    font-size: 20px;
    font-weight: 500;

    padding: 0 10px;
    height: 100%;

    display: flex;
    align-items: center;
    height: 50px;

    cursor: pointer;

    transition: all 0.1s ease-in-out;
}


.menu_item:hover { 
    color: var(--hover-light);
}


.menu_item--selected {
    background: var(--selected-accent-color);
    border-radius: 5px;

    transition: all 0.3s ease-in-out;
}

.menu_item--selected:hover {
    color: white;
    background: var(--accent-color);
}


.line {
    display: none;
}


@media (max-width: 1450px) {
    .menu_item {
        font-size: 16px;
    }
}


@media (max-width: 1033px) {
    .menu {
        display: none;

        height: 10px;

        border-radius: 5px;
    }

    .line {
        display: block;
    }
}


@media (max-width: 480px) {
    .menu {
        height: 5px;
    }
}

/* ./Menu */


/* Mobile menu */
.mobileMenu {
    position: fixed;

    background: var(--base-color);
    box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.25);

    height: 100%;
    width: 350px;

    padding: 100px 25px;

    z-index: 9;

    left: -650px;

    display: none;

    transition: all 0.3s ease;

    overflow-y: scroll;
}


.mobileMenu::-webkit-scrollbar {
    display: none;
}


.mobileMenu--show {
    left: 0;
}


.mobileMenuClose {
    position: absolute;

    top: 15px;
    right: 15px;

    height: 25px;
    width: 25px;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.mobileMenuClose:hover {
    transform: scale(1.1);
}


.mobileLink {
    display: block;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

    padding-bottom: 20px;

    border-bottom: 1px solid #CBCBCB;
    
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}    


.mobileLink:last-child {
    border-bottom: none;
}



.mobileLink + .mobileLink{
    margin-top: 20px;
}


.mobileLink:hover {
    color: var(--hover-accent);
}

.mobileLink--extended {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.mobileMenu-titleText {
    font-size: 24px;
    font-weight: 600;

    line-height: 1.3;
}

.mobileMenu-title {
    display: none;
    column-gap: 20px;
    align-items: center;

    margin-bottom: 50px;
}

.mobileMenu-title--show {
    display: flex;
}


.mobileMenu-backBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background: var(--accent-color);

    width: 60px;
    height: 24px;
    
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    flex-shrink: 0;
}


.mobileMenu-backBtn:hover {
    background: var(--hover-accent);
}


@media (max-width: 1033px) {
    .mobileMenu {
        display: block;
    }
}


@media (max-width: 600px) {
    .mobileMenu {
        width: calc(100% - 50px);
    }
}


@media (max-width: 380px) {
    .mobileMenu-titleText {
        font-size: 20px;
    }

    .mobileLink {
        font-size: 18px;
    }
}
/* ./Mobile menu */



/* Extended menu */
.extendedMenu {
    background: var(--base-color);
    border-radius: 0px 0px 50px 50px;

    width: 100%;

    position: absolute;
    z-index: 3;

    max-height: 0;
    overflow: hidden;

    transition: all 0.3s ease;
}


.extendedMenu--show {
    max-height: 2000px;
    padding: 60px 0;
}


.extendedMenuWrapper, .extendedMenu-linkWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}


.extendedMenu-titleWrapper {
    display: block;

}


.extendedMenu-linkWrapper {
    border-left: 1px solid #B1D0FF;
    padding-left: 150px;

    display: flex;
    justify-content: space-between;
    align-items:start;

    width: 60%;
}


.extendedMenu-linkColumn {
    display: flex;
    flex-direction: column;

    list-style: none;
}


.extendedMenu-title {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;

    line-height: 1.5;
}


.extendedMenu-link {
    font-size: 20px;
    font-weight: 500;

    padding: 10px;

    display: inline;

    cursor: pointer;
    transition: all 0.1s ease-in-out;

    line-height: 1.5;
}

.extendedMenu-link + .extendedMenu-link {
    margin-top: 30px;
}

.extendedMenu-link:hover {
    color: var(--hover-accent);
}

.extendedMenu-link--selected {
    padding: 0px;
}


.linkName {
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    line-height: 1.5;
}


.linkName--selected {
    background: var(--accent-color);
    color: white;
    border-radius: 5px;
    padding: 10px;
}


.extendedLinks {
    max-height: 0;

    position: relative;
    left: 40px;

    transition: all 0.3s ease-in-out;
    overflow: hidden;
    opacity: 0;
}

.extendedLinks--selected {
    max-height: 500px;
    margin-top: 20px;
    left: 40px;
    opacity: 1;
}


.extendedMenu-link--selected .extendedLinks-item{
    color: var(--light-text-color);
}


.linkName--selected:hover {
    background: var(--hover-accent);
}


.extendedLinks-item {
    padding-left: 10px;
    border-left: 2px solid #2F82FF;

    transition: all 0.1s ease-in-out;
    cursor: pointer;

    line-height: 1.5;
}


.extendedLinks-item:hover {
    color: var(--accent-color);
}

.extendedLinks-item + .extendedLinks-item {
    margin-top: 40px;
}


@media (max-width: 1440px) {
    .extendedMenu-titleWrapper {
        display: none;
    }


    .extendedMenu-linkWrapper {
        border-left: none;
        padding-left: 0px;

        display: flex;
        justify-content: space-around;
        align-items:start;

        width: 100%;
    }

    .extendedMenu-linkColumn {
        width: 40%;
    }


    .extendedMenu-link + .extendedMenu-link {
        margin-top: 20px;
    }

    .linkName, .extendedMenu-link {
        font-size: 18px;
    }
    
}

/* ./Extended menu */


/* GosuslugiInfo */
.gosuslugiInfo {
    display: none;

    margin-top: 50px;
}


.gosulugiPhoto {
    margin-bottom: 50px;
    width: 100%;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


.gosulugiPhoto--mobile {
    display: none;
}


@media (max-width: 1024px) {
    .gosuslugiInfo {
        display: block;
    }
}


@media (max-width: 600px) {
    .gosulugiPhoto--desktop {
        display: none;
    }

    .gosulugiPhoto--mobile {
        display: block;
    }
}
/* ./GosuslugiInfo */


/* Slider */
.slider {
    margin-bottom: 50px;
}


.slide {
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease;
}


.imgWrapper {
    padding-top: calc(100% * (385/1290));
    position: relative;
    overflow: hidden;

    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);

    margin-top: 50px;
    cursor: pointer;

    /* background: #2F82FF; */
}


.sliderPhoto {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
}



.pgnWrapper {
    display: flex;
    justify-content: space-between;

    width: 125px;

    margin: 0 auto;
    margin-top: 20px;
}


.pgnItem {
    width: 50px;
    height: 7px;
    
    border-radius: 10px;
    background: var(--hover-accent);
    cursor: pointer;

    transition: all 0.1s ease-in-out;
}


.pgnItemCurrent {
    background: var(--accent-color);
}

@media (max-width: 1024px) {
    .slider {
        display: none;
    }
}


/* ./Slider */


/* About us */
.aboutUs-titleWrapper {
    max-width: 747px;

    border-bottom: 1px solid rgba(47, 47, 47, 0.5);

    padding-bottom: 20px;
    margin-bottom: 50px;
}


.aboutUsTitle {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;

    line-height: 1.2;
}


.aboutUsItem {
    padding: 20px 30px;

    border-radius: 15px;
    border: 1px solid var(--text-color);

    width: 1000px;

    position: relative;
}

.aboutUsItem + .aboutUsItem {
    margin-top: 50px;
}


.aboutUsItem-text {
    line-height: 1.5;
    font-size: 20px;

    font-weight: 500;
}


.aboutUsItem-right {
    left: 100%;
    transform: translate(-100%, 0%);
}


.aboutUsIcon {
    position: absolute;
}


.handIcon {
    right: -20px;
    top: -50px;
}


.wifiIcon {
    left: -300px;
    bottom: 0;
}


.docIcon {
    right: -75px;
    bottom: -50px;
}


.aboutUs-mobileText {
    display: none;
}


@media (max-width: 1600px) {
    .wifiIcon {
        display: none;
    }
}


@media (max-width: 1170px) {
    .aboutUsIcon, .aboutUsItem {
        display: none;
    }


    .aboutUs-mobileText {
        display: block;
    }

    .aboutUsItem-text + .aboutUsItem-text {
        margin-top: 30px;
    }

    .aboutUsTitle {
        font-size: 32px;
    }

    .aboutUs {
        margin-top: 50px;
    }
}


@media (max-width: 800px) {
    .aboutUsItem-text {
        font-size: 18px;
    }

    .aboutUsTitle {
        font-size: 28px;
    }

    .aboutUs-titleWrapper {
        margin-bottom: 25px;
    }
}


@media (max-width: 600px) {
    .aboutUsItem-text {
        font-size: 16px;
    }

    .aboutUsTitle {
        font-size: 24px;
    }

    .aboutUsItem-text + .aboutUsItem-text {
        margin-top: 20px;
    }
}


@media (max-width: 400px) {
    .aboutUsTitle {
        font-size: 20px;
    }

    .aboutUs-titleWrapper {
        padding-bottom: 10px;
    }
}

/* ./About us */


/* News */
.news {
    margin-top: 50px;
}


.newsItem {
    display: flex;
    column-gap: 20px;

    width: 100%;
}


.newsItemWrapper {
    height: 195px; 
    padding-bottom: 20px;

    border-bottom: 1px solid var(--border-bottom);   
}


.contentWrapper {
    position: relative;
}


.newsImgWrapper {
    cursor: pointer;

    width: 300px;
    height: 175px;
}


.newsImage {
    width: 300px;
    height: 175px;

    object-fit: cover;
}


.newsItem-title,
.newsItem-date {
    font-size: 14px;
    font-weight: 600;

    color: var(--pale-text);
}


.newsItem-text {
    font-size: 20px;
    font-weight: 500;

    line-height: 1.3;

    margin: 15px 0;
}


.newsItem-link {
    background: var(--accent-color);
    border-radius: 10px;

    padding: 10px 15px;

    display: inline-block;
    
    position: absolute;
    bottom: 2px;

    transition: all ease-in-out 0.1s;
}


.newsItem-link:hover {
    background: var(--hover-accent);
}


.newsItemWrapper + .newsItemWrapper {
    margin-top: 50px;
}


.showMore {
    border-radius: 10px;
    background: var(--accent-color);
    color: white;
    font-weight: 500;
    display: block;

    padding: 15px 25px;
    margin: 0 auto;
    margin-top: 30px;
    
    cursor: pointer;

    transition: all 0.1s ease-in-out;
}


.showMore:hover {
    background: var(--hover-accent);
}


.newsItem-date--mobile {
    display: none;

    font-size: 14px;
    font-weight: 600;

    color: var(--text-color);
}


@media (max-width: 1280px) {
    .newsItem-link {
        display: none;
    }
}


@media (max-width: 850px) {
    .newsItem-text {
        font-size: 18px;
    }
}


@media (max-width: 670px) {
    .newsItem-text {
        font-size: 16px;
        margin-top: 0;
    }

    .newsItem-title {
        display: none;
    }
}


@media (max-width: 600px) {
    .newsItem {
        display: flex;
        flex-direction: column;

        padding-bottom: 10px;

        border-bottom: 1px solid rgb(47, 47, 47, 0.5);   
    }

    .newsItemWrapper {
        border-bottom: none;
        height: auto;
    }

    .newsImage {
        height: 200px;
        width: 100%;
    }

    .newsImgWrapper {
        width: 100%;
    }

    .newsItem-date--mobile {
        display: block;
        margin-top: 50px;
        margin-bottom: 10px;

        font-weight: 400;
    }

    .newsItem-date {
        display: none;
    }


    .showMore {
        margin-top: 0px;

        font-weight: 400;
        padding: 10px 15px;

        font-size: 16px;
    }

    .newsItem-text {
        margin-top: 40px;
    }
}


@media (max-width: 450px) {
    .newsItem-date--mobile {
        margin-top: 40px;
    }

    .newsItemWrapper + .newsItemWrapper {
        margin-top: 10px;
    }

    .newsItem-date--mobile  {
        font-size: 12px;
    }
}


/* ./News */



/* phoneNumbers */
.phoneNumbers {
    margin-top: 50px;
    padding-bottom: 200px;
}


.phoneNumbersWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: -10px;
}


.phoneItems {
    width: 650px;
}


.phoneItem:first-child {
    margin-top: 30px;
}


.phoneItem {
    border-bottom: 1px solid var(--border-bottom);
    padding-bottom: 20px;
}


.phoneItem + .phoneItem {
    margin-top: 50px;
}


.phoneItems-title {
    font-size: 24px;
    font-weight: 600;

    color: #2F82FF;
    margin-bottom: 10px;
}


.phoneItems-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(-16px) rotate(-4deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
  }


.phoneImg {
    animation: moveUpDown 2s ease-in-out infinite;
}


@media (max-width: 1200px) {
    .phoneImg {
        height: 500px;
    }
}

@media (max-width: 1100px) {
    .phoneImg {
        display: none;
    }


    .phoneItems {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .phoneItem:first-child {
        margin-top: 10px
    }


    .phoneItems-title {
        font-size: 20px;
    }

    .phoneItems-text {
        font-size: 16px;
    }
}


@media (max-width: 600px) {
    .phoneItem {
        padding-bottom: 10px;
    }


    .phoneItem + .phoneItem {
        margin-top: 30px;
    }
}

/* ./phoneNumbers */



/* Footer */
.footer {
    background: #2F2F2F;
    position: relative;

    padding: 70px 0;
    padding-top: 140px;
}


.navigationsColumn-title {
    font-size: 24px;
    font-weight: 600;

    margin-bottom: 25px;
    color: #FFFFFF;
}


.navigationsColumn {
    margin-bottom: 80px;
}

.navigationsColumn-item {
    display: block;

    font-size: 20px;
    font-weight: 100;
    color: rgb(255, 2555, 255, 0.7);

    transition: all 0.3s ease-in-out;

    line-height: 1.5;
}


.navigationsColumn-item:hover {
    color: rgb(255, 2555, 255, 0.5);
}


.navigationsColumn-item + .navigationsColumn-item {
    margin-top: 20px;
}


.radiusFooter {
    position: absolute;
    top: -50px;
    height: 100px;
    width: 100%;
    border-radius: 50px;
    background: var(--base-color);
}


.footerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px; 
}


.contacts {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: right;
    column-gap: 40px;
}


.contactsPhoneNumber {
    font-weight: 400;
    font-size: 24px;

    color: rgba(255, 255, 255, 80%);
}


    /* mobile */
.mobile_footer_wrapper {
    display: none;
   
}


.mobile_footer_wrapper__list {
    display: none;
}

.mobile_footer_wrapper__title {
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;

    padding: 5px 0;

    width: 100%;

    color: white;

    cursor: pointer;
}


.mobile_footer_wrapper__item {
    color: rgb(173, 171, 171);

    padding: 20px 0; 
    border-bottom: 1px solid rgb(97, 97, 97);
}


.mobile_footer_wrapper__item:last-child {
    border: none;
}


.mobile_footer_wrapper_mobile_app__link {
    display: flex;
    align-items: center;

    column-gap: 10px;
}


.mobile_footer_wrapper__link {
    font-size: 20px;
}


.mobile_footer_wrapper__link + .mobile_footer_wrapper__link {
    display: block;
    margin-top: 20px;
}


.mobile_footer_wrapper__link:first-child {
    margin-top: 30px;
}

    /* ./mobile */

@media (max-width: 1024px) {
    .navigationsColumn-title {
        font-size: 20px;
    }

    .navigationsColumn-item {
        font-size: 18px;
    }


    .footerContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px; 
    }


    .navigationsColumn-item + .navigationsColumn-item {
        margin-top: 10px;
    }

    .contactsPhoneNumber {
        font-size: 20px;
    }

    .socialNetWorkIcon {
        height: 20px;
    }

    .contacts {
        column-gap: 20px;
    }
}


@media (max-width: 950px) {
    .footerContainer {
        display: none;
    }

    .mobile_footer_wrapper {
        display: block;
    }
}


@media (max-width: 550px) {
    .mobile_footer_wrapper__link:first-child {
        margin-top: 10px;
    }

    .mobile_footer_wrapper__link {
        font-size: 18px;

        line-height: 1.5;
    }

    .mobile_footer_wrapper__title {
        font-size: 20px;

        line-height: 1.7;
    }

    .mobile_footer_wrapper__link + .mobile_footer_wrapper__link {
        margin-top: 20px;
    }

    .footer {
        padding-top: 70px;
    }

    .radiusFooter {
        border-radius: 25px;
    }

    .mobile_footer_wrapper__item {
        color: rgb(173, 171, 171);
    
        padding: 10px 0; 
    }
}

/* ./Footer */


/* Theme */
.themeBtn {
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    transform: rotate(0eg);
    transition: all 2s ease-in-out;
}

.themeBtn:hover {
    transform: rotate(360deg);
}


@media (max-width: 1024px) {
    .themeBtn {
        bottom: 25px;
        right: 25px;
        backdrop-filter: blur(5px);
    }
}
/* ./Theme */



/* Vision */
.settingVision {
    position: fixed;
    z-index: 99;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 720px;

    padding: 40px;

    border-radius: 10px;
    background-color: var(--base-color);
    box-shadow: 0px 4px 23px 2px rgba(0, 0, 0, 0.25);

    display: none;
}


.settingVision--show {
    display: block;
}



.settingVisionCloseBtn {
    position: absolute;

    top: 40px;
    right: 40px;

    width: 30px;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.settingVisionCloseBtn:hover {
    opacity: 0.5;
}

.settingVisionCloseBtn:active {
    transform: scale(0.7);
}


.settingVision-title {
    font-size: 24px;
    font-weight: 600;
}


.settingVision-itemWrapper {
    margin-top: 15px;

    display: flex;
    column-gap: 20px;
}


.settingVision-btn {
    font-size: 24px;
    font-weight: 500;

    padding: 10px 15px;

    border-radius: 10px;
    background: white;
    border: 2px solid rgba(47, 47, 47, 0.5);

    cursor: pointer;
    transition: all 0.1s ease-in-out;

    color: #2F2F2F;
}


.settingVision-btn:hover{
    background: rgb(233, 233, 233);
}


.settingVision-row {
    display: flex;
    flex-direction: column;

    row-gap: 60px;
    margin-top: 40px;
}


.settingVision-btn--selected {
    border: none;
    background: #A2C7FD;
    transition: all 0.1s ease-in-out;
}

.settingVision-btn--selected:hover {
    background: #84b2f7;
}


.visionBtn {
    position: fixed;
    bottom: 200px;
    right: 100px;
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    transform: rotate(0eg);
    transition: all 2s ease-in-out;
}


.resetOptions {
    padding: 15px 30px;

    border-radius: 10px;
    background-color: var(--accent-color);
    color: white;

    font-size: 20px;
    margin-top: 30px;

    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

.resetOptions:hover {
    background-color: var(--hover-accent);
}

@media (max-width: 1024px) {
    .visionBtn,
    .settingVision {
        display: none;
    }
}
/* ./Vision */






/* News */
.news {
    color: var(--text-color);
    margin-top: 50px;
    margin-bottom: 200px;
}


.newsStrong {
    display: block;

    font-size: 32px;
    font-weight: 600;

    margin-bottom: 20px;
}

.newsParagraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.newsParagraph + .newsParagraph{
    margin-top: 20px;
}

.newsSubtitle {
    font-size: 20px !important;
}


.newsLink {
    color: #2F82FF;
    transition: color 0.2s ease-in-out;

    font-size: 20px;
}


.newsLink:hover {
    color: #6ca4f8;
}

.newsTitle-text {
    display: block;

    color: var(--pale-text);
    font-weight: 600;

    margin-bottom: 20px;
}


.newsPageImage {
    width: 70%;
    height: auto;

    margin: 20px 0;

    border-radius: 10px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.50);
}


@media (max-width: 1440px) {
    .newsStrong {
        font-size: 30px;
    }
}


@media (max-width: 1280px) {
    .newsStrong {
        font-size: 28px;
    }

    .news {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}


@media (max-width: 1024px) {
    .newsStrong {
        font-size: 26px;
    }

    .newsPageImage {
        width: 100%;
        margin: 10px 0;
    }

    .newsParagraph + .newsParagraph{
        margin-top: 10px;
    }
}


@media (max-width: 800px) {
    .newsStrong {
        font-size: 24px;
    }
}


@media (max-width: 600px) {
    .newsStrong {
        font-size: 20px;
    }

    .newsParagraph {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
    }

    .newsLink {
        color: #2F82FF;
        transition: color 0.2s ease-in-out;
    
        font-size: 18px;
    }
}


@media (max-width: 500px) {
    .newsStrong {
        font-size: 18px;
    }

    .newsParagraph {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }

    .newsLink {
        color: #2F82FF;
        transition: color 0.2s ease-in-out;
    
        font-size: 16px;
    }
}
/* ./News */



/* Contacts */

.contactsPage {
    margin: 100px 0;
}


.contactsWrapper {
    margin-top: 70px;
}


.contactsRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 500;
}


.contactsRow + .contactsRow {
    border-bottom: 1px solid var(--border-bottom);
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.contactsRow:last-child {
    margin-bottom: 20px;
}


.contactsName {
    max-width: 380px;
    width: 100%;  
}

.contactsDirectPhone {
    max-width: 310px;
    width: 100%;
}

.contactsInternalPhone {
    max-width: 299px;
    width: 100%;
}

.contactsOffice {
    max-width: 187px;
    width: 100%;
}


.contactsText-name {
    font-size: 20px;
    line-height: 1.5;

    margin-bottom: 10px;
}


.contactsText-position {
    font-size: 16px;
    font-weight: 600;
    color: var(--pale-text);
    line-height: 1.5;
}


.contactsSubtitle {
    font-weight: 600;
    color: var(--pale-text);
}


.contactsDirectPhone,
.contactsInternalPhone,
.contactsOffice {
    display: flex;
    align-items: center;
    column-gap: 18px;
}


.contactsShowMore {
    display: inline-block;
    margin-right: 50px;
}


.findContainer {
    display: inline-block;
    height: 100%;

    position: relative;
}


.findInput {
    height: 50px;
    font-size: 20px;
    padding-right: 50px;
    background: var(--base-color);
    
    border-bottom: 1px solid var(--border-bottom);
}


.findLoupIco {
    position: absolute;
    top: 40%;
    transform: translate(0, -40%);
    right: 0;

    cursor: pointer;
}

.highlighted {
    background: var(--highlight);
}


@media (max-width: 1190px) {
    .contactsIco {
        display: none;
    }

    .contactsRow--header {
        display: none;
    }

    .contactsText-name {
        font-size: 18px;
    }

    .contactsText-position {
        font-size: 14px;
    }

    .contactsDirectPhone, .contactsInternalPhone, .contactsOffice {
        font-size: 16px;
    }

    .contactsWrapper {
        margin-top: 0px;
    }
}


@media (max-width: 1060px) {
    .contactsRow {
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
    }

    .contactsText-name {
        line-height: 1;
        margin-bottom: 5px;
    }


    .contactsName {
        margin-bottom: 20px;
    }

    .contactsInternalPhone, .contactsOffice {
        margin-top: 10px;
    }

    .contactsDirectPhone, .contactsInternalPhone, .contactsOffice {
        column-gap: 10px;
    }

    .contactsSubtitle {
        color: #2F82FF;
    }
}


@media (max-width: 590px) {
    .findInput {
        font-size: 16px;
        height: 40px;
    }

    .contactsShowMore {
        margin-right: 25px;
    }
}


@media (max-width: 478px) {
    .contactsControls {
        display: flex;
        flex-direction: column;
    }

    .findInput {
        order: 1;
        flex: 1;
    }

    .findContainer {
        display: flex; 
        margin-top: 15px; 
    }

    .contactsShowMore {
        order: 2;
        margin: unset;
        margin-right: auto;
        margin-top: 15px;
    }
}

/* ./Contacts */


/* AddressDetails */

.addressDetails {
    margin-top: 140px;

    font-weight: 500;
    font-size: 20px;
}


.addressDetails-text + .addressDetails-text {
    margin-top: 25px;
}

.addressDetails-text {
    line-height: 1.5;
}


.addressDetails-strongText {
    font-weight: 600;
    margin-right: 10px;
}


@media (max-width: 1024px) {
    .addressDetails {
        font-size: 18px;
    }

    .addressDetails-text + .addressDetails-text {
        margin-top: 15px;
    }
}


@media (max-width: 600px) {
    .addressDetails {
        font-size: 16px;
    }

    .addressDetails-text + .addressDetails-text {
        margin-top: 10px;
    }
}
/* ./AddressDetails */



/* GuestBook */

.guestBook {
    margin-top: 140px;
}


.guestBookWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    
    margin-top: 40px;
}


.guestBookForm {
    max-width: 400px;
    width: 100%;
}


.guestBookArrow {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}


.guestBook-bigText {
    max-width: 571px;
    font-weight: 600;
    font-size: 48px;

    text-transform: uppercase;
    line-height: 1.5;
}


.guestBook-input {
    font-size: 20px;
    font-weight: 400;
    width: 100%;

    padding-bottom: 20px;
    background: var(--base-color);

    border-bottom: 1px solid var(--border-bottom);
}


.guestBook-input + .guestBook-input {
    margin-top: 50px;
}

.guestBook-ShowMore {
    width: 100%;
}


@media (max-width: 1520px) {
    .guestBookArrow {
        display: none;
    }
}


@media (max-width: 1060px) {
    .guestBook-bigText {
        display: none;
    }

    .guestBook-ShowMore {
        margin-top: 15px;
    }
}

/* ./GuestBook */



/* Messages */
.messages {
    margin-top: 140px;
}

.messagesWrapper {
    display: flex;
    justify-content: space-between;
}


.messagesContainer {
    max-width: 600px;
    margin-top: 60px;
}


.svgIco {
    transition: all ease-in-out 0.3s;
    cursor: pointer;

    position: sticky;
    top: 300px;
}

.svgIco:active {
    transform: scale(1.5);
}


.messageItem {
    font-weight: 400;

    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-bottom);
}

.messageItem + .messageItem {
    margin-top: 40px;
}


.messageItem-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.messageItem-nameWrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;

    margin-bottom: 10px;
}

.messageItem-personIco {
    width: 25px;
    height: 25px;
}


.messageItem-content {
    font-size: 20px;
    line-height: 1.5;
}


.messageItem-name {
    font-weight: 600;
    font-size: 24px;
}


.messageItem-date {
    color: var(--pale-text);
    opacity: 0.5;

    margin-bottom: 15px;
}


.messagesShowMore {
    display: inline-block;
    margin-top: 20px;
}


.guestBook--title {
    margin-bottom: -20px;
}


@media (max-width: 1280px) {
    .messageIco {
        display: none;
    }
}


@media (max-width: 1024px) {
    .messageItem-content {
        font-size: 18px;
    }

    .messageItem-name {
        font-size: 20px;
    }
}


@media (max-width: 600px) {
    .messageItem-content {
        font-size: 16px;
    }

    .messageItem-name {
        font-size: 18px;
    }
}
/* ./Messages */


@media (max-width: 1280px) {
    .contactsPage {
        margin-top: 75px;
    }
}


@media (max-width: 1024px) {
    .contactsPage {
        margin-top: 50px;
    }

    .addressDetails {
        margin-top: 100px;
    }

    .guestBook {
        margin-top: 100px;
    }

    .messages {
        margin-top: 100px;
    }
}


@media (max-width: 600px) {
    .contactsPage {
        margin-top: 25px;
    }

    .addressDetails {
        margin-top: 75px;
    }

    .guestBook {
        margin-top: 75px;
    }

    .messages {
        margin-top: 75px;
    }
}