.scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 200px;
    right: 100px;
    width: 80px;
    height: 80px;
    background: #2F82FF;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
  
.scroll-to-top-btn::before {
    content: '\2191'; 
    font-size: 48px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 1024px) {
    .scroll-to-top-btn {
        bottom: 150px;
        right: 25px;
        backdrop-filter: blur(5px);
        background-color: rgba(47, 130, 255, 0.5);
    }
}